/*Fuentes de google*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*Menu*/
#menu li > a {
    font-size: 18px;
    font-weight: bold;
    color: #3f3f3f;
}

#menu form > button{
    font-size: 18px;
    font-weight: bold;
}